nav .nav-items {
    font-size: 28px;
    background-color: #90EE90;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.title-text {
    color: #008000;
}

/* fallback for IE */
.gradient-text {
    /*color: red;*/
    font-size: 25px;
    background-color: #90EE90;
    background-image: linear-gradient(45deg, #730ACF, #CF9308);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* gradient text for modern browsers */
@supports (background-clip: text) {
    .gradient-text {
        background-image: linear-gradient(45deg, #730ACF, #CF9308);
        background-clip: text;
        color: transparent;
    }
}

.nav-items a {
    font-size: 14px;
    color: black;
    margin-right: 1.5rem;
}

    .nav-items a:active, .nav-items a:hover {
        text-decoration: underline;
    }

.nav-items .left-links {
    display: flex;
    align-items: center;
}

.nav-logo {
    display: flex;
    margin-right: 2.5rem;
    align-items: center;
}

    .nav-logo img {
        margin-right: 1rem;
    }


.nav-sub-header form.form .inline.fields {
    margin-bottom: 0;
    justify-content: center;
}

.nav-sub-header .form .inline.fields .field {
    display: flex;
    align-items: center;
}

    .nav-sub-header .form .inline.fields .field:not(:last-child) {
        margin-right: 2rem;
    }

    .nav-sub-header .form .inline.fields .field label {
        white-space: nowrap;
    }

.nav-sub-header {
    display: flex;
    padding: 0 1rem;
    border-bottom: solid 1px var(--att-gray-01);
    justify-content: space-between;
    flex-wrap: wrap;
}

    .nav-sub-header form {
        margin-right: 1rem;
        padding: .5rem 0;
    }

.ponder-search-container {
    display: flex;
    padding: .5rem 0;
}

ponder-search {
    min-width: 250px;
}

#pdf_modal iframe {
    width: 100%;
    height: 80vh;
}

.ui.appheader.button:focus {
    color:rgba(0,0,0,.6) !important;
    background:   #e0e1e2 !important;
    background-image: none;
}

.ui.appheader.button:hover {
    background-color: #cacbcd;
    color: rgba(0,0,0,.8);
    background-image: none;
    -webkit-box-shadow: '';
    box-shadow: '';
}


