:root {
    --att-gray-00: #F7F8FA;
    --att-gray-01: #E5E5E5;
    --att-gray-02: #D2D2D2;
    --att-gray-03: #959595;
    --att-gray-04: #5A5A5A;
    --att-gray-05: #1D2329;
    --att-blue-00: #009FDB;
    --att-blue-01: #D6F4FF;
    --att-blue-02: #ADE9FF;
    --att-blue-03: #85DEFF;
    --att-blue-04: #5CD3FF;
    --att-blue-05: #33C9FF;
    --att-blue-06: #0ABEFF;
    --att-blue-08: #0087B8;
    --att-blue-09: #00698F;
    --att-blue-10: #004B66;
    --att-cobalt-00: #0057B8;
    --att-cobalt-01: #007AE2;
    --att-berry-00: #FF585D;
    --att-berry-01: #FFC2C4;
    --att-berry-02: #FFADB0;
    --att-berry-03: #FFD6D8;
    --att-tangerine-00: #FFB000;
    --att-tangerine-01: #FFE5AD;
    --att-tangerine-02: #FFDF99;
    --att-tangerine-03: #FFECC2;
    --att-lime-00: #91DC00;
    --att-lime-01: #E4FFAD;
    --att-lime-02: #DDFF99;
    --att-lime-03: #EBFFC2;
    --att-mint-00: #49EEDC;
    --att-mint-01: #B4F8F0;
    --att-mint-02: #A2F6EC;
    --att-mint-03: #C7FAF4;
    --att-purple-00: #AF29BB;
    --att-purple-01: #F5DEF8;
    --att-purple-02: #F1CDF4;
    --att-purple-03: #ECBCF0;
}
